* {
    font-family: "Martian Mono";
}

body {
    margin: 0px;
}

nav {
    overflow: hidden;
    list-style-type: none;
    position: sticky;
    /* margin: 0; */
    padding: 10px 10px;
    background-color: #09578d;
    text-decoration: solid;
}

li {
    float: left;
    display: block;
    text-align: justify;
    padding: 14px 4px;
    text-decoration: none;
}

a {
    color: #fff;
    float: left;
    display: block;
    text-align: justify;
    padding: 0.5% 1%;
    text-decoration: none;
    word-spacing: -3px;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: #09578d;
}

.logo-header {
    float: left;
    width: 200px;
    padding: 4px;
    border-right: 8px solid #09578d;
}

.navbar-button {
    text-align: center;
    font-size: min(1em, 70px);
}

.slides {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    top: 80%;
    left: 50%;
}

.we-protect, .protection-examples {
    position: absolute;
}

.main-container {
    position: relative;
    text-align: center;
    color: white;
}

.title-background {
    background-color:#fff ;
    width: 200px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
  }

.we-protect {
    left: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: min(6.5vw, 800px);
    display: inline-block;
}

.protection-examples {
    left: 0;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: min(6vw, 700px);
    margin: auto;
    display: inline-block;
}